{% extends "base.html" %}

{% block app_content %}
    <h1>{{ fteam.name }}</h1>
    <table class="table table-hover">
        <tr>
            <th>Position</th>
            <th>Player</th>
            <th>Team</th>
            <th>Value</th>
            {% for matchday in matchdays %}
            <th>{{ matchday.id }}</th>
            {% endfor %}
            <th>Total:</th>
        </tr>
    {% for fplayer in fteam.fantasy_players %}
        <tr>
            <td>{{ fplayer.position }}</td>
            <td>{{ fplayer.player.name }}</td>
            <td>{{ fplayer.player.team }}</td>
            <td>{{ fplayer.player.value }}</td>
            {% for matchday in matchdays %}
            <td><a href="{{ url_for('main.match', match_id=fplayer.match_on(matchday).id) }}">{{ score_dict[fplayer.player_id][matchday.id - 1] }}</a></td>
            {% endfor %}
            <td>{{ total_score_per_player[fplayer.player_id] }}</td>
        </tr>
    {% endfor %}
        <tr>
            <td>Total:</td>
            <td></td>
            <td></td>
            <td></td>
            {% for matchday in matchdays %}
            <td>{{ total_score_per_matchday[matchday.id] }}</td>
            {% endfor %}
            <td><strong>{{ total_score }}</strong></td>
        </tr>
    </table>
{% endblock %}