{% extends "base.html" %}

{% block app_content %}
    <h1>{{ fteam.name }}</h1>
    <table class="table table-hover">
        <tr>
            <td>Position</td>
            <td>Player</td>
            <td>Team</td>
            <td>Value</td>
            {% for matchday in matchdays %}
            <td>{{ matchday.id }}</td>
            {% endfor %}
        </tr>
    {% for fplayer in fteam.fantasy_players %}
        <tr>
            <td>{{ fplayer.position }}</td>
            <td>{{ fplayer.player.name }}</td>
            <td>{{ fplayer.player.team }}</td>
            <td>{{ fplayer.player.value / 10 }}</td>
            {% for matchday in matchdays %}
            <td><a href="{{ url_for('main.match', match_id=fplayer.match_on(matchday).id) }}">{{ fplayer.matchday_score(matchday) }}</a></td>
            {% endfor %}
        </tr>
    {% endfor %}
        <tr>
            <td>Total:</td>
            <td></td>
            <td></td>
            <td></td>
            {% for matchday in matchdays %}
            <td>{{ fteam.matchday_score(matchday) }}</td>
            {% endfor %}
            <td><strong>{{ fteam.total_score() }}</strong></td>
        </tr>
    </table>
{% endblock %}