{% extends "base.html" %}

{% block app_content %}
{% for matchday in matchdays %}
<h2>Matchday: {{ matchday.id }}</h2>
<table class="table table-hover">
    {% for match in matchday.matches %}
    <tr>
        <td>
            {{ match.home_team }} - {{ match.away_team }}
        </td>
        <td>
            <a href="{{ url_for('main.match', match_id = match.id) }}">{{ match.home_score }} - {{ match.away_score }}</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endfor %}
{% endblock %}