{% extends 'base.html' %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ user.avatar(128) }}"></td>
            <td>
                <h1>User: {{ user.username }}</h1>
                Teams:
                <ul>
                    {% for fteam in user.fantasy_teams %}
                    <li><a href="{{ url_for('main.my_fantasy_team', team_name=fteam.name) }}">{{ fteam.name }}</a></li>
                    {% endfor %}
                </ul>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>{% endif %}
            </td>
        </tr>
    </table>
{% endblock %}